<!--
设置true显示相应页面
dataError: 数据出错
dataNotLoading: 数据加载完
-->
<div ng-if="showTimeout">
    <div ng-show="!dataNotLoading" class="pa w h bc-fff z99">
        <section ng-if="!dataError" class="pa l50p t50p" style="margin-left: -67px;">
            <ion-spinner class="dp-ib vm" icon="circles"></ion-spinner>
            <span class="dp-ib vm f18">数据加载中...</span>
        </section>
        <img ng-if="dataError" ng-click="pageReload()" src="img/click-reload.png" class="pa l50p t50p" style="margin-left: -125px;margin-top: -125px;">
    </div>
    <section ng-transclude></section>
</div>
