<ion-view view-title="点餐">
  <ion-nav-buttons side="left">
    <a menu-toggle="left" class="button button-clear" ng-href="#/main/order">
      <img ng-src="./img/person.jpg" class="br50p" width="33" height="33">
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-href="#/main/shopCart">
      <i class="icon ion-android-cart" style="color: #fff"></i>
      <span ng-show="shopCart.shopList.total" class="mark-circle">{{shopCart.shopList.total}}</span>
    </a>
  </ion-nav-buttons>
  <div class="bar bar-subheader p0">
    <div class="row p0 h head-btn">
      <span ng-repeat="item in dateList" ng-class="{active:currentDate == item}" class="col button button-clear"
            ng-click="selectDate(item)">
        {{$index == 0? '今日':item+'号'}}
      </span>
    </div>
  </div>
  <ion-content class="has-subheader">
    <ion-list>
      <ion-item ng-repeat="dish in dish.dishList" class="item item-thumbnail-left type">
        <img ng-src="{{dish.picture}}" ng-click="dishDetail($index,dish.id,dish.name,dish.count)">
        <h2 class="lh16">{{dish.name}}</h2>
        <p>描述：{{dish.introduce}}</p>
        <p>主厨：{{dish.cook}} </p>
        <p>
          <span class="c-f60">
            <i class="icon ion-social-yen c-f60"></i>
            <span>{{dish.price}}</span>
            <span class="f12 c-666">/份</span>
          </span>
          <span class="c-f60">
             <span class="f14">优惠价:</span>
             <span>{{dish.discount}}</span>
             <span class="f12 c-666">/份</span>
          </span>
        </p>
        <div class="right-add">
          <div ng-if="dish.total">
            <div ng-click="addDish($index,dish.id)">
              <i class="icon ion-ios-plus-outline"></i>
            </div>
            <div class="dish-number">{{dish.count}}</div>
            <div ng-click="minusDish($index,dish.id)">
              <i class="icon ion-ios-minus-outline"></i>
            </div>
          </div>
          <div ng-if="!dish.total">
            <div class="dish-none">已售完</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
