<ion-view view-title="订单详情">
  <ion-content>
    <ion-list>
      <ion-item class="f25 fb tc">{{orderDetail.price}}元</ion-item>
      <ion-item>
        <span class="pa" style="left: 10px">商品信息</span>
        <div class="pl70 ws-n f14">{{orderDetail.name}}</div>
      </ion-item>
      <ion-item>
        <span class="pa" style="left: 10px">收货地址</span>
        <div class="pl70 ws-n c-666">{{orderDetail.address}}</div>
      </ion-item>
      <ion-item>
        <span class="pa" style="left: 10px">发货状态</span>
        <div class="pl70 ws-n" ng-class="{'c-999':orderDetail.status,'c-red':!orderDetail.status}">{{orderDetail.status?'已收货':'待收货'}}</div>
      </ion-item>
      <ion-item>
        <span class="pa" style="left: 10px">创建时间</span>
        <div class="pl70 ws-n c-666">{{orderDetail.date|date:'yyyy-MM-dd HH:mm'}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
