<ion-view view-title="我的订单">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="item in orderList" style="padding-right: 72px"
        ng-click="toDetail($index)">
        <img ng-src="{{item.picture}}"/>
        <h2>{{item.name}}</h2>
        <p class="w150"><i class="icon ion-social-yen c-f60"></i>{{item.price}}</p>
        <span class="pa t50p" ng-class="{'c-999':item.status,'c-red':!item.status}"
          style="right: 10px;transform: translateY(-50%);">{{item.status?'已收货':'待收货'}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
