<ion-view view-title="支付">
  <ion-content class="padding">
    <ion-list>
      <label class="item item-input p0 m0 bbw0">
        <span class="input-label w90 tr">联系人:</span>
        <input type="text">
      </label>
      <label class="item item-input p0 m0 bbw0">
        <span class="input-label w90 tr">电话:</span>
        <input type="text">
      </label>
      <label class="item item-input p0 m0 bbw0">
        <span class="input-label w90 tr">送货地址:</span>
        <input type="text">
      </label>
      <label class="item item-input p0 m0">
        <span class="input-label w90 tr">取餐时间:</span>
        <input type="text">
      </label>
      <div class="mt20 row p0 pay-btn">
        <button class="button col brw0 c-fff bc-393" ng-click="pay()">微信支付</button>
        <button class="button col c-fff bc-393" ng-click="pay()">支付宝支付</button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
