<ion-view view-title="购物车">
  <ion-content class="padding">
    <div class="head-title">
      <span class="left-mark"></span>
      <span class="fb">配送方式</span>
    </div>
    <div class="row p0 shop-radio">
      <label class="item item-radio col p0 bw0">
        <input type="radio" name="group" value="1" ng-model="payUser.takeType">
        <div class="item-content p10">
          到店自取
        </div>
      </label>
      <label class="item item-radio col p0 bw0">
        <input type="radio" name="group" value="2" ng-model="payUser.takeType">
        <div class="item-content p10">
          固定点取
        </div>
      </label>
      <label class="item item-radio col p0 bw0">
        <input type="radio" name="group" value="3" ng-model="payUser.takeType">
        <div class="item-content p10">
          送货上门
        </div>
      </label>
    </div>
    <ion-list>
      <label class="item item-input p0 m0 bbw0 mt10">
        <span class="input-label w70 tr">收货人:</span>
        <input type="text" ng-model="payUser.name">
      </label>
      <label class="item item-input p0 m0 bbw0">
        <span class="input-label w70 tr">电话:</span>
        <input type="text" ng-model="payUser.phone">
      </label>
      <section class="shop-list b1-ddd bbw0">
        <div class="row c-393">
          <div class="col">菜名</div>
          <div class="col">数量</div>
          <div class="col">价格(元)</div>
        </div>
        <div class="row" ng-repeat="shop in shopCart.shopList.shop">
          <div class="col">{{shop.name}}</div>
          <div class="col shop-add-btn">
            <i class="icon ion-plus" ng-click="addDish(shop.id,$index)">
            </i><span>{{shop.total}}
          </span><i class="icon ion-minus" ng-click="minusDish(shop.id,$index)"></i>
          </div>
          <div class="col">{{shop.total*shop.discount}}</div>
        </div>
      </section>
      <ion-item class="bw0 mt5 p10 lh30">
        <span class="f14">合计:</span>
        <span class="c-f60 fb"><i class="icon ion-social-yen f14"></i>{{shopCart.shopList.price}}</span>
        <a class="item-note button button-clear toPay-btn" ng-href="#/main/pay">结算</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
