/* CSS Document */

body {
	color: #4c4c4c;
	font-size: 14px;
	text-decoration: none;
	font-family: 微软雅黑;
}

a:hover,
a:link,
a:focus {
	border: none;
	outline: none;
	text-decoration: none;
}

*,
*:after,
*:before {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

button:hover {
	outline: none;
}

ul,
ol,
li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.clear {
	clear: both;
}

.border-r4 {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
}

.border-r20 {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
}

a {
	text-decoration: none;
}

.f16{
	font-size: 16px;
}
.textcenter {
	text-align: center;
	border: none;
}

.s10 {
	height: 10px;
}

.s36 {
	height: 36px;
}

.s215 {
	height: 215px;
}

.mgl100 {
	margin-left: 100px;
	margin-top: 13px;
}

.mgl66 {
	margin-left: 66px;
}

.mgr100 {
	margin-right: 100px;
	margin-top: 18px;
}

.mgl190 {
	margin-left: 190px;
}

.mgl360 {
	margin-left: 360px;
}

.fl_left {
	float: left;
}

.fr_right {
	float: right;
}

.wrap {
	min-width: 1200px;
	margin: 0 auto;
}

/*导航*/
#header {
	height: 73px;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: #fff;
	text-align: center;
	width: 100%;
	padding-top: 7px;
	box-shadow: 0 0 4px rgba(0,0,0,.2);
}

#header>div {
	width: 1200px;
	display: inline-block;
}

#nav {
	height: 35px;
}

#nav ul li {
	font-size: 16px;
	color: #aaaab4;
	padding: 14px 30px 0 8px;
	float: right;
}

#nav ul span {
	font-size: 16px;
	color: #aaaab4;
	padding: 14px 10px 0 8px;
	float: right;
}

#nav ul span a {
	height: 37px;
	line-height: 36px;
	text-align: center;
	color: #818286;
	display: inline-block;
}

#nav ul span a:hover,
#nav ul span a.on {
	color: #37C2D9;
}

#nav ul li a {
	color: #818286;
	display: inline-block;
	width: 97px;
	height: 37px;
	line-height: 36px;
	text-align: center;
}

#nav ul li a.on {
	color: #fff;
	background: #37C2D9;
	border-radius: 25px;
}

#nav ul li a:hover {
	background: #37C2D9;
	border-radius: 25px;
}

#slider{
	margin-top: 80px;
}
@media (max-width:1600px){
#header {
	height: 45px;
	padding-top: 5px;
}
#logo img{
	height: 45px;
}	
#nav ul li {
	padding: 2px 30px 0 8px;
}

#nav ul span {
	padding: 2px 10px 0 8px;
}

#slider{
	margin-top: 50px;
}	
}
/*注册类型*/
.register-kind .service{
	border-bottom: 1px solid #ededed
}
.register-kind .service ul li{
	margin-bottom: 40px;
}
.register-kind span a{
	color: #37C2D9;
	cursor: pointer;
	line-height: 30px;
}
/*服务内容*/

.main,
.group {
	width: 1200px;
	margin: 0 auto;
}

.main h3 {
	font-size: 28px;
	color: #666666;
	padding: 40px 0 90px 0;
	font-weight: 300;
}

.main h6 {
	font-size: 16px;
	color: #aaaaaa;
	padding: 40px 0 90px 0;
	font-weight: 300;
}

.service {
	width: 1102px;
	margin: 0 auto;
}

.service ul li {
	width: 238px;
	margin-bottom: 90px;
	float: left;
}

.service ul li p {
	font-size: 15px;
	color: #aaaaaa;
	line-height: 26px;
}

.service ul li h5 {
	font-size: 20px;
	color: #666666;
	line-height: 20px;
	font-weight: 400;
	padding-top: 30px;
	margin: 0;
	margin-bottom: 15px;
}

.service ul li img {
	width: 122px;
	height: 122px;
	text-align: center;
}


/*集团背景*/

#content {
	width: 100%;
	height: 677px;
	background-color: #19b4dc;
}

area {
	outline: none;
}


/*医疗背景*/

.bg_content {
	background-color: #f6f9fb;
	padding: 78px 0 140px;
}

.bg_content>div {
	width: 938px;
}

.bg_content h3 {
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
}

.bg_content p {
	font-size: 16px;
	line-height: 28px;
	color: #9b9ca0;
	text-align: left;
}

.bg_content p:nth-child(2) {
	margin: 0;
	margin-bottom: 21px;
}

.bg_content p:last-child {
	margin-bottom: 63px;
}

.bg_content .bg_type {
	width: 1105px;
	margin: 0 auto;
}

.bg_content .bg_type li {
	width: 331px;
	height: 97px;
	background-color: #fff;
	box-shadow: 1px 2px 2px #e6e9ec;
	float: left;
	margin-left: 55px;
	font-size: 16px;
	line-height: 96px;
	background-repeat: no-repeat;
	background-position: 89px 50%;
}

.bg_content .bg_type li span {
	margin-left: 145px;
}

.bg_content .bg_type li:first-child,
.bg_content .bg_type li:nth-child(4) {
	margin-left: 0;
}

.bg_content .bg_type li:nth-child(4),
.bg_content .bg_type li:nth-child(5),
.bg_content .bg_type li:nth-child(6) {
	margin-top: 37px;
}

.bg_content .bg_type li:nth-child(1) {
	background-image: url(../images/icon1.png);
}

.bg_content .bg_type li:nth-child(2) {
	background-image: url(../images/icon2.png);
}

.bg_content .bg_type li:nth-child(3) {
	background-image: url(../images/icon3.png);
}

.bg_content .bg_type li:nth-child(4) {
	background-image: url(../images/icon4.png);
}

.bg_content .bg_type li:nth-child(5) {
	background-image: url(../images/icon5.png);
}

.bg_content .bg_type li:nth-child(6) {
	background-image: url(../images/icon6.png);
}


/*联系信息*/

.tel_content {
	width: 787px;
	margin: 0 auto;
}

.tel_content h3 {
	text-align: center;
	line-height: 0;
	margin: 120px 0 80px;
}

.tel_content>div {
	float: left;
	width: 414px;
}

.tel_content>div p:first-child {
	font-size: 22px;
	color: #616263;
	margin-bottom: 23px;
}

.tel_content>div p {
	line-height: 28px;
	color: #818286;
	margin: 0;
}

.tel_content>img {
	float: right;
	width: 372px;
	height: 233px;
	background-color: red;
}


/*底部*/

.footer {
	margin-top: 237px;
	border-top: 1px solid #ebebeb;
	width: auto;
}

.footer h6 {
	height: 30px;
	line-height: 30px;
	padding: 0;
}


/*轮播*/

.carousel-indicators li {
	background-color: #fff;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#myCarousel .carousel-indicators li {
	width: 10px;
	height: 10px;
	margin: 0;
	border: none;
}

#myCarousel .carousel-indicators li:last-child {
	margin-left: 10px;
}

#myCarousel .carousel-indicators li.active {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.slide_telep {
	background-color: #11b6df;
	height: 770px;
}

.slide_telep>div {
	width: 1060px;
	height: 590px;
	color: #fff;
	background-color: #13df80;
	background: url(../images/mobile.png) right center no-repeat;
	margin: 0 auto;
	padding: 73px 0 80px;
}

.slide_telep>div>p:first-child {
	font-size: 40px;
	line-height: 58px;
	padding-top: 50px;
}

.slide_telep>div>p:nth-child(2) {
	font-size: 18px;
	margin-top: 21px;
	color: #e9fbf1;
}

.slide_telep>div a{
	width: 180px;
	height: 65px;
	border-radius: 3px;
	display: inline-block;
	line-height: 64px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	margin-top: 40px;
}

.slide_telep>div a.btn1 {
	background: url(../images/iphone.png) #30caf0 28px center no-repeat;
}

.slide_telep>div a.btn2 {
	background: url(../images/android.png) #30caf0 22px center no-repeat;
	margin-left: 10px;
}

.slide_telep>div>div {
	margin-top: 40px;
}

.slide_telep>div>div>div {
	height: 150px;
	margin-top: 20px;
}

.slide_telep>div>div p {
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 0;
}

.slide_telep>div>div img {
	margin-right: 20px;
}
.slide_comp {
	background-color: #13df80;
	height: 770px;
}

.slide_comp>div {
	width: 1269px;
	height: 564px;
	color: #fff;
	background-color: #13df80;
	background: url(../images/computer.png) right center no-repeat;
	padding-top: 164px;
	margin: 0 auto;
	position: relative;
	left: 40px;
}

.slide_comp>div p:first-child {
	font-size: 40px;
	line-height: 58px;
	padding-top: 50px;
}

.slide_comp>div p:last-child {
	font-size: 18px;
	margin-top: 21px;
	color: #e9fbf1;
}
.try,.try:hover,.try:focus{
	width: 140px;
	height: 48px;
	border-radius: 3px;
	display: inline-block;
	line-height: 48px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	background: #32f097;
	margin-top: 20px;
}
.slider-page {
	background: #f6f9fb;
	margin-top: 80px;
}
@media (max-width:1600px){
.slide_telep,.slide_comp {
	height: 550px;
}
.slide_telep>div,.slide_comp>div {
	padding: 35px 0 0px;
	height: 100%;
}
.slide_telep>div>p:first-child {
padding-top: 0px;
}
.slide_comp>div p:first-child {
padding-top: 100px;
}	
.slider-page {
	margin-top: 50px;
}	
}
/*登录注册*/
.login {
	margin: 0 auto;
	width: 800px;
	height: 500px;
	box-shadow: 0px 0px 15px rgba(228, 228, 228, .6);
	border-bottom: none;
	position: relative;
	background: #fff;
}

.header {
	height: 80px;
	position: relative;
	font-family: "Microsoft Yahei";
}

.header .switch {
	height: 80px;
	position: absolute;
	bottom: 0;
	font-size: 16px;
	width: 100%;
}
.switch h3{
	margin-top: 50px;
}

.btn-color,
.btn-color:link,
.btn-color:active{
	background: #36c2d9;
	color: #fff;
	width: 100%;
	margin: 0px auto 20px;
	outline: 0;
	border-radius: 0px;
	line-height: 30px;
	height: 30px;
	font-size: 16px;
}
.btn-color.disabled,.btn-color.disabled:hover{
	background: #C3C3C3;
}
.btn-color:hover {
	color: #fff;
	background: #33b6cc;
}

.web_phone {
	background: url(../images/phone.png) no-repeat;
	width: 18px;
	height: 18px;
	top: 16px;
	left: 18px;
	position: absolute;
}

.web_pwd {
	background: url(../images/pwd.png) no-repeat;
	width: 18px;
	height: 18px;
	top: 16px;
	left: 18px;
	position: absolute;
}

.inputstyle {
	width: 100%;
	text-indent: 14px;
}

.web_register {
	padding-top: 50px;
}
.web_register p img{
	margin: auto;
	display: block;
}

.login-div {
	padding-bottom: 25px;
	margin: 0 auto;
	float: none;
}

.login-div1 {
	padding-bottom: 10px;
	margin: 0 auto;
	float: none;
}

.login-div a {
	cursor: pointer;
}

.get{
	float: right;
	margin: 2px auto;
	margin-right: -25px;
	cursor: pointer;
	width: 25%;
	color: #fff;
}
.get:active,.get:hover,.get:visited{
	float: right;
	margin: 2px auto;
	margin-right: -25px;
	width: 25%;
}
.hover,.hover:active,.hover:hover,.hover:visited{
	background: #ededed;
	color: #8e8e8e;
}
.unchecked {
	background: url(../images/unchecked.png) no-repeat;
	width: 24px;
	height: 24px;
	top: -1px;
	position: absolute;
}

.checked {
	background: url(../images/checked.png) no-repeat;
	width: 24px;
	height: 24px;
	top: -1px;
	position: absolute;
}

.checkbox-img input {
	display: none;
}

.checkbox-img span {
	margin-left: 28px;
}

.checkbox-img span:hover {
	cursor: pointer;
}

.web-footer {
	border: none;
	position: fixed;
	bottom: 1px;
	width: 100%;
}
.index-error {
	color: #f13b3b;
	line-height: 20px;
	font-size: 12px;
	clear: both;
	text-align: left;
	margin-top: 10px;
}



