body {
	color: #000;
	font-size: 14px;
	text-decoration: none;
	font-family: 微软雅黑;
	text-align: center;
}

a:hover,
a:link,
a:focus {
	border: none;
	outline: none;
	text-decoration: none;
}

ul,
ol,
li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.wrap {
	width: 100%;
	margin: 0 auto;
}

p {
	font-size: 16px;
	line-height: 28px;
	color: #9b9ca0;
	text-align: left;
}

h2 {
	font-size: 26px;
	margin: 20px 0px;
}

h3 {
	font-size: 18px;
}

.f16 {
	font-size: 16px;
	text-align: left;
}


/*导航*/

.head {
	height: 50px;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: #fff;
	text-align: center;
	width: 100%;
	box-shadow: 0 0 4px rgba(0,0,0,.2);
}

.head img {
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
}

.fl_left {
	float: left;
}

.fr_right {
	float: right;
}

#nav ul span {
	font-size: 16px;
	color: #aaaab4;
	padding: 8px 10px 0 8px;
	float: right;
}

#nav ul span a {
	height: 37px;
	line-height: 36px;
	text-align: center;
	color: #818286;
	display: inline-block;
}

#nav ul span a:hover,
#nav ul span a.on {
	color: #37C2D9;
}

.main {
	clear: both;
	margin-top: 50px;
	text-align: center;
	margin-bottom: 0px;
}

.s10 {
	height: 1px;
	clear: both;
}

.s30 {
	height: 30px;
	clear: both;
}

.bg_com {
	margin: 0px 30px;
}


/*轮播*/

.carousel-indicators li {
	background-color: #fff;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#myCarousel .carousel-indicators li {
	width: 10px;
	height: 10px;
	margin: 0;
	border: none;
}

#myCarousel .carousel-indicators li:last-child {
	margin-left: 10px;
}

#myCarousel .carousel-indicators li.active {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.slide_telep {
	background-color: #11b6df;
}

.slide_telep h2 {
	font-size: 30px;
	margin: 10px 0px;
}

.slide_telep>div:first-child {
	padding-top: 45px;
}

.slide_telep>div {
	color: #fff;
	text-align: center;
	margin: 0px auto;
}

@media (min-width:320px) {
	.main-center {
		width: 94%;
	}
}

@media (min-width:375px) {
	.main-center {
		width: 85%;
	}
}

@media (min-width:414px) {
	.main-center {
		width: 78%;
	}
}

.slide_telep>div a {
	width: 146px;
	height: 56px;
	border-radius: 3px;
	display: inline-block;
	line-height: 56px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	margin-top: 30px;
}

.slide_telep>div a.btn1 {
	background: url(../images/iphone.png) #30caf0 16px center no-repeat;
}

.slide_telep>div a.btn2 {
	background: url(../images/android.png) #30caf0 12px center no-repeat;
}

.slide_telep>div>div img {
	margin-right: 20px;
}

.slide_comp {
	background-color: #13df80;
	height: 770px;
}

.slide_comp>div {
	width: 1269px;
	height: 564px;
	margin-top: 113px;
	color: #fff;
	background-color: #13df80;
	background: url(../images/computer.png) right center no-repeat;
	padding-top: 164px;
	margin: 0 auto;
	position: relative;
	left: 40px;
}

h1,
h2,
h3,
h4,
h5 {
	text-align: center;
}


/*注册用户类型*/

.user-kind {
	padding: 50px 20px 50px;
	background: #f6f9fb;
}

.user-kind h3 {
	text-align: left;
}

.user-kind h5 {
	text-align: left;
	font-size: 16px;
}

.register-kind {
	text-align: left;
	float: left;
	color: #37C2D9;
	cursor: pointer;
	font-size: 16px;
}


/*服务*/

.service {
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

.service .form-group,
.user-kind .form-group {
	margin-top: 30px;
}

.service ul li {
	width: 238px;
	margin-bottom: 90px;
	float: left;
}

.service ul li img {
	width: 122px;
	height: 122px;
	text-align: center;
}

.service h5 {
	font-size: 14px;
	line-height: 14px;
	color: #9b9ca0;
	text-align: center;
}

.service img {
	width: 110px;
}


/*集团背景*/

.bg_content {
	background-color: #f6f9fb;
	padding: 20px 0 40px;
}

.bg_content .bg_com1 {
	margin: 0px 15px;
	padding: 30px 0px;
}

.bg_content h2 {
	text-align: left;
}

.bg_content .bg_show {
	width: 48%;
	font-size: 16px;
}

.bg_content .label-img {
	width: 100%;
}


/*联系我们*/

.tel_content {
	padding: 20px 0 40px;
}

.tel_content h4 {
	text-align: left;
	font-size: 18px;
	padding: 10px 0px;
}

.tel_content .bg_com {
	margin: 0px 10px;
}

.tel_content p {
	font-size: 16px;
	line-height: 20px;
	color: #9b9ca0;
	text-align: left;
}

.tel_content img{
	text-align: center;
	width: 100%;
}
.main img {
	text-align: center;
	width: 85%;
}


/*底部*/

.footer {
	border-top: 1px solid #ebebeb;
	margin-bottom: 10px;
}

.footer h6 {
	font-size: 14px;
	line-height: 16px;
	color: #9b9ca0;
}


/*登录注册样式*/

.login {
	margin: 0 auto;
	width: 100%;
	border-bottom: none;
	position: relative;
}

.header {
	height: 80px;
	position: relative;
	font-family: "Microsoft Yahei";
}

.header .switch {
	height: 80px;
	position: absolute;
	bottom: 0;
	font-size: 16px;
	width: 100%;
}

.switch h2 {
	margin-top: 50px;
}

.btn-color,
.btn-color:link,
.btn-color:active {
	background: #36c2d9;
	color: #fff;
	width: 100%;
	margin: 0px auto 20px;
	outline: 0;
	border-radius: 0px;
	line-height: 30px;
	font-size: 16px;
}

.btn-color.disabled,
.btn-color.disabled:hover {
	background: #C3C3C3;
}

.btn-color:hover {
	color: #fff;
	background: #33b6cc;
}

.web_phone {
	background: url(../images/phone.png) no-repeat;
	width: 18px;
	height: 18px;
	top: 15px;
	left: 18px;
	position: absolute;
}

.web_pwd {
	background: url(../images/pwd.png) no-repeat;
	width: 18px;
	height: 18px;
	top: 15px;
	left: 18px;
	position: absolute;
}

.inputstyle {
	width: 100%;
	text-indent: 10px;
	height: 45px;
}

.input-yz {
	width: 63%;
	display: inline;
	float: left;
	text-indent: 0px;
}

.web_register {
	padding-top: 50px;
}

.web_register p img {
	margin: auto;
	display: block;
}

.login-div {
	padding-bottom: 20px;
	margin: 0 auto;
	float: none;
	text-align: left;
}

.login-div1 {
	padding-bottom: 15px;
	margin: 0 auto;
	float: none;
}

.login-div a {
	cursor: pointer;
}

.get {
	float: right;
	cursor: pointer;
	width: 33%;
	margin: 0px auto;
	color: #fff;
}

.get:active,
.get:hover,
.get:visited {
	float: right;
	width: 33%;
	margin: 0px auto;
}

.hover,
.hover:active,
.hover:hover,
.hover:visited {
	background: #ededed;
	color: #8e8e8e;
}

.unchecked {
	background: url(../images/unchecked.png) no-repeat;
	width: 24px;
	height: 24px;
	top: -1px;
	position: absolute;
}

.checked {
	background: url(../images/checked.png) no-repeat;
	width: 24px;
	height: 24px;
	top: -1px;
	position: absolute;
}

.checkbox-img input {
	display: none;
}

.checkbox-img span {
	margin-left: 28px;
}

.checkbox-img span:hover {
	cursor: pointer;
}

.web-footer {
	border: none;
	width: 100%;
}

.index-error {
	color: #f13b3b;
	line-height: 20px;
	font-size: 12px;
	clear: both;
	text-align: left;
	margin-top: 10px;
}


/*注册成功下载样式*/

.mobile-down {
	margin-top: 50px;
}

.mobile-down a {
	width: 70%;
	max-width: 280px;
	height: 56px;
	border-radius: 3px;
	display: inline-block;
	line-height: 56px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background: #30caf0;
	margin-top: 30px;
}


/*微信内部打开的提示样式*/

* {
	margin: 0;
	padding: 0;
}

img {
	vertical-align: bottom;
}

area {
	outline: none;
}

.wdper {
	width: 100%;
}

.mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	background: #000;
	height: 100%;
	background-size: 100% 100%;
	opacity: 0.8;
	display: none;
}
.mask img{
	width: 100%;
}
.h-hidden,.h-hidden body{
	overflow: hidden;
	position: relative;
	height: 100%;
}
